<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Dashboard Template · Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="application/javascript" src="/js/main.js"></script>
    <script type="application/javascript" src="/js/profession.js"></script>
    <script type="application/javascript" src="/js/department.js"></script>
    <script type="application/javascript" src="/js/employee.js"></script>


</head>
<body>


<div class="container-fluid">
    <div class="row">

        <div class="col-sm-2">
            <div class="flex-sm-column">
                <ul class="nav flex-column" nav-justified>
                    <li class="active"><a data-toggle="pill" href="#adminpanel">Click me...</a></li>

                </ul>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="tab-content">
                <div id="adminpanel" class="tab-pane fade in active">
                    <h4> Manage entities</h4>
                    <ul class="nav nav-tabs">
                        <li class="active"><a id="Employees" data-toggle="tab" href="#emp">Employees</a></li>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <li><a id="Professions" data-toggle="tab" href="#prof">Professions</a></li>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <li><a id="Departments" data-toggle="tab" href="#dept">Departments</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="emp" class="tab-pane fade in active">
                            <div class="container">
                                <h1>All employees</h1>
                                <a href="#" class="btn btn-info item-edit" data-toggle="modal"
                                   data-target="#myModal" role="button" id="empAdd" >Add</a>
                                <table id=empTable class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Profession</th>
                                        <th>Department</th>
                                        <th>Description</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="empBody"></tbody>


                                </table>

                            </div>
                        </div>

                        <div id="prof" class="tab-pane fade">
                            <div class="container">
                                <h1>All professions</h1>
                                <a href="#" class="btn btn-info item-edit" data-toggle="modal"
                                   data-target="#myModal" role="button" id="profAdd" >Add</a>

                                <table id=profTable class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="profBody">

                                    </tbody>


                                </table>

                            </div>
                        </div>

                        <div id="dept" class="tab-pane fade in active">
                            <div class="container">
                                <h1>All departments</h1>
                                <a href="#" class="btn btn-info item-edit" data-toggle="modal"
                                   data-target="#myModal" role="button" id="depAdd" >Add</a>
                                <table id=deptTable class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Parent dept.</th>
                                        <th>Description</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="deptBody"></tbody>

                                </table>

                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" id="modalClose" class="close"
                                                data-dismiss="modal">×
                                        </button>
                                        <h4 class="modal-title"></h4>
                                    </div>
                                    <div class="modal-body">

                                        <table class="table table-striped">
                                            <tbody id="modalBody">
                                            <tr>
                                                <th>Id:</th>
                                                <td><input type="text" readonly name="id" id="id"/></td>
                                            </tr>

                                            <tr>
                                                <th>Name:</th>
                                                <td><input type="text" name="name"/></td>
                                            </tr>

                                            <tr>
                                                <th>Description:</th>
                                                <td><input type="text" name="description"/></td>
                                            </tr>


                                            <tr id="parDep">
                                                <th>Parent dept.:</th>
                                                <td>
                                                    <select id="deptParList"
                                                            name="parentDept"
                                                           >
                                                        <option value=""> --</option>

                                                    </select>
                                                </td>
                                            </tr>

                                            <tr id="pro" >
                                                <th >Profession:</th>
                                                <td>
                                                    <select id="profList"
                                                            name="prof"
                                                            >

                                                    </select>
                                                </td>
                                            </tr>
                                            <tr id="dep">
                                                <th>Department:</th>
                                                <td>
                                                    <select id="deptList"
                                                            name="dept">

                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" align="center">
                                                    <button id="modalPost"  type="submit">Insert</button>
                                                </td>
                                                <td colspan="2" align="center">
                                                    <button id="modalPut"  type="submit">Update</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>